body
{
    background: #d2dae2;
}

/************

 BACKGROUND 

************/
.game_background
{
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    background-image: url(../images/background.jpg);    
    margin-top: 300px;
    border: 3px solid white;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #00000055;
    position : relative;
}

/*********

POSITION OF EACH PLAYER

*********/

.player_1, .player_2, .player_3, .player_4
{  
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

.player_1
{
    position: absolute;
    top: 5px;
    left: 10px;
}

.player_3
{
    position: absolute;
    top: 5px;
    left: 1180px;
}

.player_2
{
    position: absolute;
    top: 665px;
    left: 10px;
}

.player_4
{
    position: absolute;
    top: 665px;
    left: 1180px;
}

/*********

INPUT PLAYER NAME 

*********/

.playerPseudo
{
    width: 1000px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 600px;
    top: 620px;
    display: flex;
    flex-direction: column;
}


.playerName 
{
    font-size: 50px;
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.confirmButton
{
    width: 120px;
    margin-top: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFFFFF;
    background: #f1c40f;
    transition: all 0.4s;
    box-shadow: 0px 0px 6px #00000074;
    cursor: pointer;
    user-select: none;
}

.confirmButton:hover
{
    scale: 1.1;
}