@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --primaryColor: #FBFAFE;
    --secondaryColor: #79B7FF;
    --accent1: #f6f4feaf;
    --accent2: #EDF5FE;
    --white: #ffffff;
    --textColor: #272727;
    --textColor2: #79B7FF;
    --boxshadow: #ebebeb;
    --buttonColor: #EDF5FE;
    --borderWhite: #FFFFFF;
    --myCards: #f6f4feaf;
}

[data-theme="dark"]{
    --primaryColor: #141D26;
    --secondaryColor: #EDF5FE;
    --accent1 : #2c2c2ca1;
    --accent2: #4E58AB;
    --white: #FFFFFF;
    --textColor: #d3d3d3;
    --textColor2: #a8b1ff;
    --boxshadow: #2c2c2c;
    --buttonColor: #4E58AB;
    --borderWhite: #0C1B30;
    --myCards: #06123767;
}

body{
    background-image: url("../images/background.svg");
    background-color: var(--primaryColor);
    font-family: 'Comfortaa', cursive;
    user-select: none;
}


/*************

    OVERLAY
*************/

.overlayDesign{
    background: var(--primaryColor);
    border-radius: 30px;
    border: 5px solid var(--accent2);
    padding: 20px;
}

/* OVERLAY NAME */
.overlayName{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 960px;
    position: absolute;
    color: var(--secondaryColor);
    z-index: 11;
    padding-top: 10px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;  
}

.pseudo{
    display: flex;
    justify-content: center;
    justify-self: center;
    font-weight: 700;
    font-size: 25px;
}

.pseudoInput{
  width: 150px;
  height: 40px;
  margin: 20px 0;
  padding: 0 5px;
  border-radius: 10px;
  border: 2px solid var(--accent2);
  background-color: var(--borderWhite);
  text-align: center;
  font-style: 20px;
  font-weight: 300;
  color: var(--textColor);
  outline: none;
}

.confirmButton, .quitButton, .continueButton{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--secondaryColor);
    margin-left: auto;
    margin-right: auto;
    background: var(--accent2);
    border-radius: 100px;
    border: 5px solid var(--borderWhite);
    box-shadow:  5px 5px 10px var(--boxshadow), 
             -5px -5px 10px var(--boxshadow);
    transition: all 0.3s ease;
}

.confirmButton:hover, .quitButton:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transition: all 0.3s ease;
}

/* OVERLAY WIN */

.overlayWin{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 960px;
    position: absolute;
    color: var(--secondaryColor);
    z-index: 11;
    padding-top: 10px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;  
    display: none;
}

/* OVERLAY RULES */

.overlayRules{
    width: 960px;
    height: 650px;
    position: absolute;
    z-index: 11;
    margin: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    display: none;
}

.overlayRules h1{
    margin-bottom: 10px;
    color: var(--secondaryColor);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.overlayRules h2{
    /* margin-top: 5px; */
    color: var(--secondaryColor);
    font-weight: 700;
    font-size: 17px;
}

.overlayRules span{
    margin-top: 10px;
    color: var(--textColor);
    font-weight: 300;
    font-size: 15px;
}

.rules1{
    margin: 10px 0px;
    background: var(--accent1);
}

.rules2{
    /* margin: 10px 0px; */
    background: var(--accent2);
}

/* OVERLAY CARDS */

.overlayCards{
    display: flex;
    text-align: center;
    width: 960px;
    height: 650px;
    position: absolute;
    color: var(--secondaryColor);
    z-index: 11;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 30px; */
    left: 0;
    right: 0;
    display: none;
}

.subContainer{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;

}

.largeArrow{
    grid-column: 1 / 3;
}

.colab{
    grid-column: 1 / 3;
}

.overlayCards h1{
    grid-column: 1 / -1;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--secondaryColor);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.arrow{
    font-size: 30px;
}

.cardContainer img{
    transition: all 0.5s ease;
}
.cardContainer img:hover{
    -webkit-transform: scale(1.05);
    transition: all 0.5s ease;
}

.quitButtonCards{
    margin-top: 50.5px;
}

/*************

MIDDLE GRID

*************/

h1{
    margin: 0;
    font-size: 20px;
    color: var(--secondaryColor) ;
    font-weight: 400;
    justify-self: center;
}

h2{
    margin: 0;
    font-size: 15px;
    color: var(--textColor2) ;
    font-weight: 400;
}
.containerGame{
    display: grid;
    grid-template-columns: 1fr 200px 30px repeat(3, 200px) 30px 200px 1fr;
    grid-template-rows: repeat(3, 180px) 1fr;
    grid-gap: 10px;
    height: 100vh;
}


.gridButtons{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.containerCards{
    display: grid;
    grid-template-rows: 34px 136px;
    grid-gap: 10px;
    text-align: center;

}


.containerCards h1{
    align-self: flex-end;
    grid-row: 1 / 2;
}

.multiTitle{
    display: flex;
    justify-content: space-around;
}

.boxShadow{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    /* grid-gap:5px; */
    border-radius: 6px;
    background:var(--accent1);
    box-shadow: inset 5px 5px 5px var(--boxshadow),
    inset -5px -5px 5px var(--boxshadow);

}

.card{
    margin: 8px 8px;
    height: 80%;
}

.table{
    margin-top: 13px;
    grid-column: 4 / 7;
    background: var(--accent2);
    border-radius: 100px;
    border: 5px solid var(--borderWhite);
    box-shadow:  5px 5px 10px var(--boxshadow), 
             -5px -5px 10px var(--boxshadow);
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
}

.deck{
    display: grid;
    grid-template-rows: 23px 120px;
    width: 85px;
    height: 120px;
    border-radius: 5px;
    padding-bottom: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    font-weight: 400;
    color: var(--secondaryColor);
}

.logo{
    align-self: center;
    justify-self: center;
    width: 80%;
}

.profil{    
    display: grid;
    position: relative;
    
}

.avatar{
    width: 90%;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    opacity: 60%;
}

.avat2{
    width: 80px;
}

.slot1 h2{
    margin-top: 15px;
}

.slot1{
    height: 136px;
    border-radius: 5px;
}

.slot2{ 
    height: 136px;
    border-radius: 5px;
    /* cursor: pointer; */
}

.hold{
    border: solid var(--white) 4px;
}

.hovered{
    background: var(--white);
    border-style: dashed;
}

.invisible{
    display: none;
}

.overlay {
    position: absolute;
    font-size: 50px;
    padding-top: 45px;
    color: var(--textColor2);
    font-weight: 700;
    justify-content: center;
    justify-self: center;
    z-index: 10;
}

.emoteContainer{
    display: flex;
    justify-content: center;
}

.emoteButton{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background: var(--buttonColor);    
    border: 5px solid var(--borderWhite);
    box-shadow:  5px 5px 10px var(--boxshadow), 
    -5px -5px 10px var(--boxshadow);
    border-radius: 100px;
    transition: all 0.3s ease;
}

.button:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transition: all 0.3s ease;
}
.emote{
    width: 80%;
    color: red;
}


.card{
    border-radius: 5px;
    width: 86px;
    height: 120px;
}

/*************

FOOTER GRID

*************/ 

.designMyCards{
    grid-column: 1 / -1;
    margin-top: 10px;
    background: var(--myCards);
    box-shadow: 0 0 0px var(--textColor);
    text-align: center;
    box-shadow:  0px -5px 10px var(--boxshadow);
    position: relative;
}

.containerMyCards{
    display: grid;
    height: 168px;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    padding-top: 90px;
    text-align: center;
    position: absolute;
    top: -80px;
    overflow:hidden;
}

.myCards{
    width: 200px;
    transition: all 0.5s ease;

}

.myCards:hover{
    transform: translate(0px, -80px);
    transition: all 0.5s ease;
}

.bun{
    transition: all 0.3s ease;
}

.bun:hover{
    cursor: pointer;
    -webkit-transform: scale(1.02);
    transition: all 0.3s ease;
}